    <section class="row">
      <h2 class="channel_title">Our Team</h2>
      <div class="bio small-12 medium-4 columns">
        <div class="bio-wrap">
          <div class="focal-point up-3 right-2"><div><img src="/img/bio_placeholder.gif" /></div></div>
          <div class="bio-text-wrap">
            <div class="bio-text">
              <div class="bio-name">Keith Collins II</div>
              <div class="bio-title">Creative Content Director</div>
            </div>
            <div class="bio-bio-text">
              Since a child, Keith Collins had a big imagination and knew he wanted to be in film. Being in martial arts all his life, Keith would make fight scenes and film them all throughout junior high and high school. When Keith went to college, he decided to do more than just fights and make full films. Keith has over ten year experience in filmmaking and has earned many awards. 
            </div>
          </div>
        </div>
      </div>
      <div class="bio small-12 medium-4 columns">
        <div class="bio-wrap">
          <div class="focal-point up-3 right-2"><div><img src="/img/bio_placeholder.gif" /></div></div>
          <div class="bio-text-wrap">
            <div class="bio-text">
              <div class="bio-name">Darius Peterson</div>
              <div class="bio-title">VFX Supervisor/Producer</div>
            </div>
            <div class="bio-bio-text">
              Award-winning independent filmmaker Darius Peterson has an unappreciated track record for filming and editing unique action, comedy and horror movies.  He has acted in some of his movies as well which have been mostly comedic and satire.  Some of These productions include: For Her, Karma, Sins of Rememberance, to micro films such as X vs. Y Chromosome, Powdered Donuts and Still Got It. In the past 5 years he’s won 3 film awards, including 1 selection award.
            </div>
          </div>
        </div>
      </div>
      <div class="bio small-12 medium-4 columns">
        <div class="bio-wrap">
          <div class="focal-point up-3 right-2"><div><img src="/img/bio_placeholder.gif" /></div></div>
          <div class="bio-text-wrap">
            <div class="bio-text">
              <div class="bio-name">David Thomas</div>
              <div class="bio-title">Website Developer</div>
            </div>
            <div class="bio-bio-text">
              Only dangerous in small doses.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="row history">
      <br /><br />
      <h2 class="channel_title">Our History</h2>
      <p>3 Digital Rock Studios was started in 2010 by 2 Kent State University Graduates Darius Peterson, Keith Collins and Keith’s brother William Collins. They started off a multimedia studio taking on video, photography, graphic and web design projects.</p>

      <p>In 2012, David Thomas joined the group and 3 Digital Rock’s focus began to shift into indie filmmaking. In the course of two years 3 Digital Rock Studios would win many awards and selections for its short/micro Action, Horror films. Continuing into the world of indie film, members of 3 Digital Rock would help other production in stunts and fight coordination, but as a team they wanted to help indie filmmakers more than that.</p>

      <p>In 2014, 3 Digital Rock Studios would take a bigger step in helping filmmakers by using their talents and  becoming a web network for indie genre filmmakers and music artists to showcase their works.</p>
    </section>