    <section class="row">
      <div class="bio small-12 medium-4 columns">
        <div class="bio-wrap">
          <div class="focal-point up-3 right-2"><div><img src="http://placehold.it/303x310/000/fff" /></div></div>
          <div class="bio-text-wrap">
            <div class="bio-text">
              <div class="bio-name">Keith Collins II</div>
              <div class="bio-title">Creative Content Director</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bio small-12 medium-4 columns">
        <div class="bio-wrap">
          <div class="focal-point up-3 right-2"><div><img src="http://placehold.it/303x310/000/fff" /></div></div>
          <div class="bio-text-wrap">
            <div class="bio-text">
              <div class="bio-name">Darius Peterson</div>
              <div class="bio-title">VFX Supervisor/Producer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bio small-12 medium-4 columns">
        <div class="bio-wrap">
          <div class="focal-point up-3 right-2"><div><img src="http://placehold.it/303x310/000/fff" /></div></div>
          <div class="bio-text-wrap">
            <div class="bio-text">
              <div class="bio-name">David Thomas</div>
              <div class="bio-title">Website Developer</div>
            </div>
          </div>
        </div>
      </div>
    </section>