    <div ng-controller="formCtrl">
      {{#if messages}}<section class="row">
        <div class="large-12 columns">
          <div data-alert class="alert-box alert">
            {{#each messages}}
              <div><strong>{{this}}</strong></div>
            {{/each}}
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </section>{{/if}}
      <section class="row ng-cloak" ng-cloak ng-show="message">
        <div class="large-12 columns">
          <div data-alert class="alert-box success">
              <div><strong>{[{message}]}</strong></div>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </section>
      <section class="row ng-cloak" ng-cloak ng-repeat="error in errors">
        <div class="large-12 columns">
          <div data-alert class="alert-box alert">
              <div><strong>{[{error}]}</strong></div>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </section>
      <section class="row" ng-hide="success">
        <div class="large-6 columns">
          <h3>For The Viewers...</h3>
          <form ng-submit="processForm()" action="/contact" method="POST" onSubmit="return false;">
            <label for="name">Name</label>
              <input name="name" type="text" placeholder="John Jacob Jingleheimersmith" autocomplete="off" ng-model="formData.name" required />
            <label for="email">Email</label>
              <input name="email" type="email" placeholder="j3@example.com" ng-model="formData.email" required />
            <label for="subject">Subject</label>
              <input name="subject" type="text" placeholder="About John Jacob Jingleheimersmith" autocomplete="off" ng-model="formData.subject" required></textarea>
            <label for="comment">Comment</label>
              <textarea name="comment" placeholder="His name is my name, too..." ng-model="formData.comment" required></textarea>
            <button name="submit">Submit</button>
          </form>
        </div>
        <div class="large-6 columns">
          <h3>For The Filmmakers...</h3>
          <!--<p>If you're a filmmaker who wants to submit a short film to the site for consideration, we're currently not accepting new submissions. Please check back after <strong>December 1st, 2014.</strong></p>-->
          <p>If you're a filmmaker who wants to submit a short film to the site for consideration, click here:</p>
          <a class="button expand" href="/dashboard/videos/upload">Upload A Film</a>
        </div>
      </section>
    </div>