      <section class="welcome_text large-12 columns">
		3 Digital Rock Studios is a web network that looks to entertain 
		you with premier indie entertainment. Just watch the above and see for yourself. 
		We look to
		tantalize your eye sockets with exciting programing such as
		original shows, music videos, and shorts from independent filmmakers.
      </section>
    