      <section class="welcome_text large-12 columns">
		3 Digital Rock Studios is a web network that looks to entertain 
		you with premier indie entertainment. Just watch the above and see for yourself. 
		We look to
		tantalize your eye sockets with exciting programming such as
		original shows, music videos, and shorts from independent filmmakers.
      </section>
      <section class="newsletter large-12 columns">
		<p class="subscribe-message"><strong>Sign up for updates on new shows and movies, as well as site updates and announcements.</strong></p>
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
			<div id="alert"></div>
			<form action="http://3digitalrockstudios.us6.list-manage.com/subscribe/post" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>					
				<div id="mc_embed_signup_scroll">
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_f0b703d50857e858cebce8d5f_242ee793ef" tabindex="-1" value=""></div>
					<input type="hidden" name="u" value="f0b703d50857e858cebce8d5f">
					<input type="hidden" name="id" value="242ee793ef">
					
					<div class="row collapse">
						<div class="small-9 columns">
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="totallycoolguy99@example.com">
						</div>
						<div class="small-3 columns">
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button postfix">
						</div>
					</div>
				</div>
			</form>
		</div>
		<!--End mc_embed_signup-->
      </section>
    