		<div class="row">
			<div class="large-12 columns">
				<div id="video-bg">
					<!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
					<div id="ytapiplayer">
					  You need Flash player 8+ and JavaScript enabled to view this video.
					</div>
					<script type="text/javascript">
						var params = { allowScriptAccess: "always" };
						var atts = { id: "myytplayer" };
						swfobject.embedSWF("//www.youtube.com/v/fG-UhJd9YRw?autoplay=0&controls=0&showinfo=0&autohide=1&enablejsapi=1&modestbranding=1&playerapiid=ytplayer&version=3",
				                       "ytapiplayer", "425", "356", "8", null, null, params, atts);
						function onYouTubePlayerReady(playerId) {
							ytplayer = document.getElementById("myytplayer");
						}
					</script>-->
				</div>
			</div>
		</div>

    <div class="row">
      <section class="large-12 columns">
				3 Digital Rock Studios is a web network that looks to entertain 
				you the way we know best. Just watch the above. We look to
				tantalize your eye sockets with exciting programing such as many 
				original shows & Indie shorts.
      </section>
    </div>