        <div class="form-box medium-6 columns" id="register-box">
            <h2>Register New Membership</h2>
            <form id="register-form">
                <div class="body bg-gray">
                    <div class="form-group">
                        <input id="register-username" type="text" name="username" class="form-control" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input id="register-email" type="text" name="email" class="form-control" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <input id="register-password" type="password" name="password" class="form-control" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input id="register-password2" type="password" name="password2" class="form-control" placeholder="Password Confirmation"/>
                    </div>
                </div>
                <div class="footer">
                    <button type="submit" class="btn bg-olive btn-block">Create Account</button>
                </div>
            </form>
        </div>
        
        <div class="medium-6 columns">
            <h3>Sidebar</h3>
            <div>Use this for validation messages or some other crap. Or get rid of it. I don't care.</div>
        </div>