<div>
    <video id="video-player" src="" class="video-js vjs-sedimentary-skin" controls preload="auto" poster="{{video.thumbnails.[0]}}" autoplay>
    </video>
</div>

{{> video-info}}

{{> related-studio}}

{{> related-channel}}

{{#contentFor footer}}
  <script src="/js/dist/videoplayer.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      videojs('video-player', {
        techOrder: ["{{video.type}}"],
        src: "{{video.src}}"
      });
      videojs('video-player').persistvolume({
        namespace: "3DRS-Ear-Blast"
      });
       videojs.options.flash.swf = "/js/vendor/video-js.swf";
        videojs('video-player').ready(function(){
          var singlePlayer = this;
          singlePlayer.ga();
          singlePlayer.seek();
          singlePlayer.hotkeys();
          singlePlayer.volume(0.75);
          var aspectRatio = 9/16; // Make up an aspect ratio
        
          function resizeVideoJS(){
            // Get the parent element's actual width
            var width = document.getElementById(singlePlayer.id()).parentElement.offsetWidth;
            // Remove the padding from the calculation
            width = width - parseInt($("#video-player").parent().css('padding-left'));
            width = width - parseInt($("#video-player").parent().css('padding-right'));
            // Set width to fill parent element, Set height
            singlePlayer.width(width).height( width * aspectRatio );
          }
        
          resizeVideoJS(); // Initialize the function
          window.onresize = resizeVideoJS; // Call the function on resize
        });
    });
  </script>
{{/contentFor}}