        <div class="modal-header">
            <h3 class="modal-title">Are you sure?</h3>
        </div>
        <div class="modal-body">
            <p>Deleting your video is irreversible. It'll be wiped from our servers <em><strong>forever!!!</strong></em></p>
            <p>You still sure you want to delete <strong>{[{videoInfo.title}]}</strong>?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Yes!</button>
            <button class="btn btn-danger" ng-click="cancel()">Hold Up, Nevermind!</button>
        </div>