                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Upload A New Video
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Videos</a></li>
                        <li class="active">Upload</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Upload New Video</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <form role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="title">Title</label>
                                            <input type="text" class="form-control" id="title" name="title" placeholder="Title" ng-model="form.title" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <input type="text" class="form-control" id="description" name="description" placeholder="Description" ng-model="form.description" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="file">Video File</label>
                                            <input type="file" ng-file-select="onFileSelect($files)">
                                            <p class="help-block">Example block-level help text here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Studio</label>
                                            <select ng-model="form.studio" ng-options="studio.name for studio in studiolist track by studio.uid" required></select>
                                        </div>
                                        <div class="form-group">
                                            <div><strong>Channels (select at least one)</strong></div>
                                            <label ng-repeat="channel in channellist">
                                              <input type="checkbox" checklist-model="form.channels" checklist-value="channel.uid"> {[{channel.name}]}
                                            </label>
                                        </div>
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary" ng-click="onFormSubmit()" value="submit">Submit</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->
                            
                    		<div ng-show="selectedFiles">
                    			<div class="sel-file" ng-repeat="f in selectedFiles">
                                    <div class="progress sm progress-striped active" progress-active ng-attr-progress="{[{progress[$index]}]}" ng-show="progress[$index] >= 0">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{[{progress[$index]}]}" aria-valuemin="0" aria-valuemax="100" style="width: {[{progress[$index]}]}%">
                                            <span class="sr-only">{[{progress[$index]}]}%</span>
                                        </div>
                                    </div>
                    			</div>
                    		</div>
                            
                        </div>
                    </div>
                </section>