/* Since imports not at the beginning of the minified file breaks the imports */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

/* Custom Icon Font
--------------------------------------------------------------------------------
The control icons are from a custom font. Each icon corresponds to a character
(e.g. "\e001"). Font icons allow for easy scaling and coloring of icons.
*/
@font-face {
  font-family: 'VideoJS';
  src: url('/fonts/vjs.eot');
  src: url('/fonts/vjs.eot?#iefix') format('embedded-opentype'), url('/fonts/vjs.woff') format('woff'), url('/fonts/vjs.ttf') format('truetype'), url('/fonts/vjs.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'VideoJS-Resolutions';
  src: url('/fonts/VideoJS-Resolutions.eot');
  src: url('/fonts/VideoJS-Resolutions.eot?#iefix') format('embedded-opentype'),
  url('/fonts/VideoJS-Resolutions.woff') format('woff'),
  url('/fonts/VideoJS-Resolutions.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "responsivenav";
  src:url("/fonts/responsivenav.eot");
  src:url("/fonts/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("/fonts/responsivenav.ttf") format("truetype"),
    url("/fonts/responsivenav.woff") format("woff"),
    url("/fonts/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}