<!doctype html>
<html class="no-js" lang="en">
<head>
    {{> header}}
    
    <link href="/slick-carousel/slick/slick.css" rel="stylesheet">
    
    {{> styles}}
    
    {{> headScripts}}
</head>
<body>
  <div class="row full-width">
    <header class="header large-12 columns">
      <div class="row">
        <div class="small-12 small-centered columns"><a href="/" alt="3 Digital Rock Studios" id="logo">3 Digital Rock Studios</a></div>
      </div>
    </header>
  </div>
  
  <nav id="primary-nav" class="nav-collapse">
    <ul class="main-nav">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/about">About</a></li>
      <li class="nav-item current"><a href="/channels">Channel</a></li>
      <li class="nav-item"><a href="/store">Store</a></li>
      <li class="nav-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="row">
    <article ng-app="videoModule" class="large-12 columns">
      {{{body}}}
    </article>
  </div>
    
  <div class="row">
    <footer class="footer large-12 columns">
      <span class="contact-info"><a href="mailto:info@3digitalrockstudios.com">info@3digitalrockstudio.com</a> // 216.264.0098 // <a href="https://facebook.com/3digitalrockstudios">facebook.com/3digitalrockstudios</a> // <a href="http://youtube.com/3digitalrockstudios">youtube.com/3digitalrockstudios</a></span>
    </footer>
  </div>
  
  {{> footerScripts}}
  
  {{{block footer}}}
</body>
</html>