<!doctype html>
<html class="no-js" lang="en" ng-app="frontend">
<head>
    {{> header}}
    
    {{#if atHome}}<link href="//vjs.zencdn.net/4.7/video-js.css" rel="stylesheet" />{{/if}}

    {{> styles}}
    
    {{> headScripts}}
</head>
<body>
  <div class="row full-width">
    <header class="header large-12 columns">
      <div class="row">
        <div class="{{#if showVideo}}large-12 logo-overlay{{else}}small-12 small-centered{{/if}} columns"><a href="/" title="3 Digital Rock Studios" id="logo">3 Digital Rock Studios</a></div>
      </div>
    </header>
  </div>
  
  {{#if showVideo}}
    {{> video_bg}}
  {{/if}}
      
  <nav class="nav-collapse">
    <ul class="main-nav">
      <li class="nav-item {{#if atHome}}current{{/if}}"><a href="/">Home</a></li>
      <li class="nav-item {{#if atAbout}}current{{/if}}"><a href="/about">About</a></li>
      <li class="nav-item"><a href="/channels">Channel</a></li>
      <li class="nav-item"><a>Store</a></li>
      <li class="nav-item {{#if atContact}}current{{/if}}"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  
  <div class="row">
    <article class="large-12 columns">
      {{{body}}}
    </article>
  </div>
  
  <div class="row">
    <footer class="footer large-12 columns">
      <span class="contact-info"><a href="mailto:info@3digitalrockstudios.com">info@3digitalrockstudio.com</a> // 216.264.0098 // <a href="https://facebook.com/3digitalrockstudios">facebook.com/3digitalrockstudios</a> // <a href="http://youtube.com/3digitalrockstudios">youtube.com/3digitalrockstudios</a></span>
    </footer>
  </div>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-27466767-5', 'auto');
    ga('send', 'pageview');
  
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/fill.js"></script>
  
  <script src="/js/dist/vendors/frontend.js"></script>
  <script src="/js/dist/vendors/angular.js"></script>
  <script src="/js/dist/frontend.js"></script>

  <script type="text/javascript">
    $(document).foundation();
    var nav = responsiveNav(".nav-collapse");
    jQuery(".nav-item").fitText();
  </script>
  {{#if atHome}}<script src="/js/dist/videoplayer.js"></script>
  <script type="text/javascript">
	  $(document).ready(function(){
	    jQuery(".wise-quotes").fitText(2, {maxFontSize: '80px'});
      /* Slider AutoChanging Title */
      function loadTitleAnimated(){
      	var myInterval;
      	var contador = 1;
      	var myFunc = function() {
      		var cur = $('.main-title ul li').length;
      		if(cur == contador) {
      				$('.main-title ul li.t-current').removeClass('t-current');
      				$('.main-title ul li').first().addClass('t-current');
      				contador = 1;
      			} else {
      				contador++;
      				$('.main-title ul li.t-current').removeClass('t-current').next().addClass('t-current');
      			}
      	};
      	myInterval = setInterval(myFunc, 5000); // Set Animation Interval in Miliseconds
      }
      loadTitleAnimated();
	  });
    videojs("video-bg", {
        techOrder: ["youtube"],
        quality: "480p",
        src: "https://www.youtube.com/watch?v=fG-UhJd9YRw"
    }).ready(function(){
      var myPlayer = this;
      myPlayer.ga();
      myPlayer.muted(true);
    });
  </script>{{/if}}
</body>
</html>