<h4>Related Videos</h4>

{{#each relatedVideos.channels}}
    <div class="vid_thumbnail_wrap"><a href="/watch/{{this.uid}}/{{this.slug}}"><img src="{{this.thumbnails.[0]}}" title="{{this.title}}"></a></div>
{{/each}}