<div class="videoWrapper">
	<!-- I may or may not have stole this from PlayFight. Sowwy! www.playfight.com -->
	<div class="main-title">
        <div class="title-container">
            <ul>
                <li class="t-current">WE ARE ACTION, COMEDY, AND HORROR</li>
                <li>WE BLAH BLAH BLAH</li>
                <li>WE YAKETY YAKETY</li>
                <li>WE LIKE ORANGE SODA</li>
            </ul>
    	</div>
    </div>
    <a id="video_toggle"></a>
    <!-- /lack-of-ethics -->
	<video id="video-bg" class="video-js vjs-default-skin fill" width="1280" height="720"
	  data-setup='{}' autoplay controls preload="auto" loop>
	 <source src="https://s3.amazonaws.com/3digitalrock/transcoded/ss-intro.mp4" type='video/mp4' />
	 <source src="https://s3.amazonaws.com/3digitalrock/transcoded/ss-intro.webm" type='video/webm' />
	 <source src="https://s3.amazonaws.com/3digitalrock/transcoded/ss-intro.ogv" type='video/ogg' />
	 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
	</video>
</div>