<div class="videoWrapper" ng-app="homeApp" ng-controller="HomeCtrl">
	<!-- I may or may not have stole this from PlayFight. Sowwy! www.playfight.com -->
	<div class="main-title" ng-class="{true: 'videoFullscreen', false: ''}[videoFullscreen]">
        <div class="title-container">
            <ul>
                <li class="t-current"><div class="wise-quotes">WE ARE ACTION, COMEDY, AND HORROR</div></li>
                <li><div class="wise-quotes">WE MAKE MOVIES</div></li>
                <li><div class="wise-quotes">WE ARE AMAZING</div></li>
                <li><div class="wise-quotes">WE LOVE ORANGE SODA</div></li>
                <li><div class="wise-quotes">BUT THAT HAS NOTHING TO DO WITH ANYTHING</div></li>
            </ul>
    	</div>
    </div>
    <!-- /lack-of-ethics -->
    <a id="video_toggle" class="hide-for-small-only" ng-click="fullToggle()"></a>
    <video id="video-bg" src="" class="video-js vjs-default-skin fill" ng-class="{true: 'videoFullscreen', false: ''}[videoFullscreen]" width="1280" height="720" 
        controls preload="auto" autoplay loop ></video>
    <!--<video id="video-bg" class="video-js vjs-default-skin fill" ng-class="{true: 'videoFullscreen', false: ''}[videoFullscreen]" width="1280" height="720"
	  data-setup='{}' autoplay preload="auto" loop>
	 <source src="https://s3.amazonaws.com/3digitalrock/videos/transcoded/9b5ee24a2e37-high.mp4" type='video/mp4' />
	 <source src="https://s3.amazonaws.com/3digitalrock/videos/transcoded/9b5ee24a2e37.webm" type='video/webm' />
	 <source src="https://s3.amazonaws.com/3digitalrock/videos/transcoded/9b5ee24a2e37.ogv" type='video/ogg' />
	 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
	</video>-->
</div>