{{#unless phone}}<div class="videoWrapper" ng-controller="HomeVideoCtrl">
	<!-- I may or may not have stole this from PlayFight. Sowwy! www.playfight.com -->
	<div class="main-title" ng-class="{true: 'videoFullscreen', false: ''}[videoFullscreen]">
        <div class="title-container">
            <ul>
                <li class="t-current"><div class="wise-quotes">WE ARE INDIE ENTERTAINMENT</div></li>
                <li><div class="wise-quotes">WE MAKE MOVIES</div></li>
                <li><div class="wise-quotes">WE ARE AMAZING</div></li>
                <li><div class="wise-quotes">WE LOVE ORANGE SODA</div></li>
                <li><div class="wise-quotes">BUT THAT HAS NOTHING TO DO WITH ANYTHING</div></li>
            </ul>
    	</div>
    </div>
    <!-- /lack-of-ethics -->
    <div class="overlay-wrap video-toggle-wrap"><div><a id="video_toggle" class="hide-for-small-only" title="Toggle audio" ng-click="fullToggle()"></a></div></div>
    <div class="overlay-wrap hinthint"><div><strong><a href="#primary-nav" data-scroll>Continue... &#9660;</a></strong></div></div>
    
    <video id="video-bg" src="" class="video-js vjs-default-skin fill" ng-class="{true: 'videoFullscreen', false: ''}[videoFullscreen]" width="1280" height="720" 
        controls preload="auto" data-setup="" autoplay>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
</div>{{/unless}}
{{#if phone}}<ul class="rslides" id="video-bg-slider">
    {{#each trailers}}<li><img src="{{this.thumbnails.[0]}}" alt=""></li>{{/each}}
</ul>{{/if}}